# Dependencies
node_modules/

# Production Build
dist/
dist-ssr/
build/

# Secrets & Environment Variables
.env
.env.*

# Logs
*.log
npm-debug.log*

# OS & Editor Files
.vscode/
.idea/
.DS_Store
Thumbs.db
